<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <!--    识别js文件默认从static下开始, th:src记得加'/'-->
    <script type="text/javascript" src="/js/jquery/jquery.js" th:src="@{/js/jquery/jquery.js}"></script>
    <script type="text/javascript" src="/js/jquery/http_cdnjs.cloudflare.com_ajax_libs_jquery.form_4.3.0_jquery.form.js" th:src="@{/js/jquery/http_cdnjs.cloudflare.com_ajax_libs_jquery.form_4.3.0_jquery.form.js}"></script>
    <script type="text/javascript" src="js/welcome.js" th:src="@{/js/welcome.js}"></script>
</head>
<body>
<div id="insert">

</div>
</body>
</html>