<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <script type="text/javascript" src="/js/jquery/jquery.js" th:src="@{/js/jquery/jquery.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js" integrity="sha384-qlmct0AOBiA2VPZkMY3+2WqkHtIQ9lSdAsAn5RUJD/3vA5MKDgSGcdmIv4ycVxyn" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/register.js" th:src="@{/js/register.js}"></script>
</head>
<body>

<form id="register" action="/user/Register" method="post">
    用户名:<input name="username" required="required"></br>
    密码:<input name="password" required="required"></br>
    <input type="submit" value="注册">
</form>
<a href="/user/Login">
    <button>去登录</button>
</a>
</body>
</html>