<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <script type="text/javascript" src="/js/jquery/jquery.js" th:src="@{/js/jquery/jquery.js}"></script>
    <script type="text/javascript" src="/js/jquery/http_cdnjs.cloudflare.com_ajax_libs_jquery.form_4.3.0_jquery.form.js" th:src="@{/js/jquery/http_cdnjs.cloudflare.com_ajax_libs_jquery.form_4.3.0_jquery.form.js}"></script>
    <script type="text/javascript" src="/js/register.js" th:src="@{/js/register.js}"></script>
</head>
<body>

<h1>注册</h1>
<form id="register" action="/Register" method="post">
    用户名:<input name="useraccount" required="required"></br>
    密码:<input name="password" required="required"></br>
    <input type="submit" value="注册">
</form>
<a href="/Login">
    <button>去登录</button>
</a>

</body>
</html>